# Ignore node_modules, build output, and Git directory
node_modules
dist
.git
.gitignore
.dockerignore
Dockerfile
# nginx.conf # Allow this file to be copied into the image
README.md

# Ignore development environment files
.env*
*.local

# Ignore OS-specific files
.DS_Store
Thumbs.db
